@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alata';
  src: url('/fonts/Alata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GrotesqueFit';
  src: url('/fonts/body-grotesque.fit-trial-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GrotesqueLarge';
  src: url('/fonts/body-grotesque.large-trial-bold.ttf') format('truetype');
}

body {
  font-family: 'Alata', sans-serif;
}
